baseURL = ""
copyright = "&copy;{year} zzossig, All right reserved"
title = "Make a blog with Hugo theme zoe!"
# disableKinds = []
disableKinds = ["taxonomy", "term"]
buildFuture = true

[outputs]
  home = ["HTML", "RSS", "SearchIndex"]

[outputFormats]
  [outputFormats.SearchIndex]
    mediaType = "application/json"
    baseName = "index"
    isPlainText = true
    notAlternative = true

[module]
  [module.hugoVersion]
    extended = false
    min = "0.76.5"

[[module.imports]]
path="github.com/date-fns/date-fns"
[[module.imports.mounts]]
source="src"
target="assets/date"

[build]
# Used by PurgeCSS
writeStats = true