{{ $toggle := resources.Get "js/toggle-utils.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer src="{{ $toggle.RelPermalink }}" integrity="{{ $toggle.Data.Integrity }}"></script>

{{ if $.Param "enableSearch" }}
  {{ $fuse := resources.Get "js/lib/fuse.min.js" | resources.Fingerprint "sha512" }}
  <script defer src="{{ $fuse.RelPermalink }}" integrity="{{ $fuse.Data.Integrity }}"></script>
  {{ $search := resources.Get "js/search-utils.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script defer src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
{{ end }}