@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Poppins Thin'),
    url('../fonts/Poppins-Thin.woff2') format('woff2'), 
    url('../fonts/Poppins-Thin.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Poppins Thin'),
    url('../fonts/Poppins-ThinItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-ThinItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Poppins Extra Light'),
    url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), 
    url('../fonts/Poppins-ExtraLight.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Poppins Extra Light Italic'),
    url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Poppins Light'),
    url('../fonts/Poppins-Light.woff2') format('woff2'), 
    url('../fonts/Poppins-Light.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Poppins Light Italic'),
    url('../fonts/Poppins-LightItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-LightItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Poppins Regular'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'), 
    url('../fonts/Poppins-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Poppins Medium'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'), 
    url('../fonts/Poppins-Medium.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Poppins Medium Italic'),
    url('../fonts/Poppins-MediumItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-MediumItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Poppins SemiBold'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'), 
    url('../fonts/Poppins-SemiBold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Poppins SemiBold Italic'),
    url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Poppins Bold'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'), 
    url('../fonts/Poppins-Bold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Poppins Bold Italic'),
    url('../fonts/Poppins-BoldItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Poppins Extra Bold'),
    url('../fonts/Poppins-ExtraBold.woff2') format('woff2'), 
    url('../fonts/Poppins-ExtraBold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Poppins Extra Bold Italic'),
    url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Poppins Black'),
    url('../fonts/Poppins-Black.woff2') format('woff2'), 
    url('../fonts/Poppins-Black.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Poppins Black Italic'),
    url('../fonts/Poppins-BlackItalic.woff2') format('woff2'), 
    url('../fonts/Poppins-BlackItalic.woff') format('woff'); /* Modern Browsers */
}