{{ define "main" }}
  {{ $filteredPages := .Site.RegularPages }}
  {{ range $.Param "notAllowedTypesInArchive" }}
    {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
  {{ end }}
  
  {{ $paginator := .Paginate ($filteredPages.GroupByDate ($.Param "archiveGroupByDate" | default "2006")) ($.Param "archivePaginate") }}
  
  <section class="grid-mid md:grid-mid w-full px-4 lg:px-8">
    {{ range ($paginator).PageGroups }}
      <span class="archive__key">{{ .Key }}</span>
      <ul class="archive__ul">
        {{ range .Pages }}
        <li class="flex">
          <span class="archive__type">{{ .Type }}</span>
          <a href="{{ .Permalink }}" class="archive__title">{{ .Title }}</a>
          <div class="flex-grow"></div>
          <span class="archive__date">{{ .Date.Format (i18n "archive-dateformat") }}</span>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}